.puntoBnt>a{
	color: black;
	font-weight: bold;
}
.puntoBnt{
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 200px;
}
.puntoBnt>a{
	margin: auto;
}
.leftNav>ul>li{
	margin-top: 10px;
	margin-bottom: 10px;
}
.leftNav{
	position: sticky;
	top: 0;
	padding-top: 30px;
}