:root{
	--punto-red: #990000;
}
@font-face{
	font-family: roboto;
	src: url('./fonts/Roboto-Regular.ttf');
}
body{
	font-size: 20px;
	font-family: 'roboto'!important;
}
html{
	scroll-behavior: smooth;
}
.redPunto-color{
	color: var(--punto-red);
}
.redPunto-bg{
	background-color: var(--punto-red);
}
.mobileNavMargin{
	margin-top: 70px;
}
.sidenav>li, .nest{
	background-color: #EBEAEA;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 20px;
	position: relative;
}
.sidenav>li:before{
	content: '';
	background-color: var(--punto-red);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 10px;
}
.nest{
	padding-left: 30px;
}
.nest:before{
	content: '';
	background-color: var(--punto-red);
	display: block;
	position: absolute;
	top: 0px;
	left: 10px;
	height: 100%;
	width: 10px;
}
.nestOff{
	height: 0px;
	overflow: hidden;
}
.puntoBnt{
	padding: 20px;
	border: 2px solid black;
}
.line{
	background-color: black;
	width: 100%;
	height: 1px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 60px;
	margin-bottom: 40px;
}
.line-punto{
	background-color: var(--punto-red);
	width: 100%;
	height: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer{
	width: 90%;
	margin: auto;
}
.contactIco{
	margin-right: 10px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.responsive-img{
	width: 100%;
 	height: auto;
}
.noPadding{
	padding: 0px !important;
}