:root{
	--nav-text-color: #1B1B1B;
	--color-logo: #990000;
}
@font-face{
	font-family: roboto;
	src: url(./fonts/Roboto-medium.ttf);
}
body{
	font-family: 'roboto';
	font-size: 25px;
}
#firstSection{
	height: 100vh;
	width: 100%;
	background-image: url('./../static/b1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#opa{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 30%;
	z-index: 1;
}
nav{
	top: 100px;
	z-index: 2;
	position: relative;
	background-color: white;
	width: 80%;
	border-radius: 35px;
	height: 70px;
	font-size: 1.2em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#logoNav{
	height: 200px;
	width: 200px;
	line-height: 200px;
	text-align: center;
	background-color: white;
	border-radius: 100%;
	color: var(--color-logo);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navBlock{
	margin-left: 20px;
	margin-right: 20px;
}