.infoBox{
	border: black solid 2px;
	padding: 20px;
}
.infoHeader{
	font-weight: bold;
}
.infoButton{
	background-color: white;
}
.infoBody{
	margin-top: 50px;
	display: none;
}
div[body="show"]>i{
	transform: rotate(180deg);
}